textview {
	font-family: monospace;
}

.main-toolbar button {
	padding: 6px;
}


#histoToolRed label {
	font-weight: bold;
	color: red;
}

#histoToolGreen label {
	font-weight: bold;
	color: green;
}

#histoToolBlue label {
	font-weight: bold;
	color: blue;
}

/*****************
 * Midtone scale *
 ****************/

.midtone-scale {
	background-image: -gtk-gradient(linear, left top, right top, from(black),
		to(shade(white, 0.95)));
	padding: 5px;
}

.midtone-scale trough,
.midtone-scale highlight,
.midtone-scale trough:disabled {
    border-image: none;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
}

.midtone-scale slider,
.midtone-scale slider:hover,
.midtone-scale slider:disabled {
    border-radius: 0px;
    border-style: none;
    background-color: transparent;
    box-shadow: none;
    min-width: 21px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("pixmaps/scale-slider-horz.png");
}