GtkTextView {
	font: monospace;
}

#neg_button, #mirrorx_button, #mirrory_button, #colormap_button, #seqlist_button {
	-GtkButton-default-border: 0;
	-GtkButton-default-outside-border: 0;
	-GtkButton-inner-border: 0;
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-focus-padding: 0;
	padding: 0;
}

#histoToolGreen {
	color: green;
}

#histoToolBlue {
	color: blue;
}

/*****************
 * Midtone scale *
 ****************/

.midtone-scale {
    border-radius: 0px;
    border-style: none;
    background-color: transparent;
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: 14px;
    background-image: url("pixmaps/scale-slider-horz.png");
}
